doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.6-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a(href='/')
            img#logo(src='/images/TWN_logo.png')
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/volunteers/new') Register
            if (admin == true)
              li
                a(href='/volunteers') Volunteer List
            //- li
            //-   a(href='/volunteers/view') View
            //- li
            //-   a(href='/volunteers/edit') Edit
    script(src='/bootstrap-3.3.6-dist/js/clipboard.min.js')

    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; Double Haul Productions 
              a.hide-link(href="/admin") 2016

    //- script(src='/javascripts/jquery.min.js')
    //- script(src='/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    
    script(src='/bootstrap-3.3.6-dist/js/jquery.min.js')
    script(src='/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(src='/bootstrap-confirmation/bootstrap-convfirmation.min.js')
    // TODO move this to volunteerRegister.jade somehow?
    script(src='/javascript/registration_form.js')
