extends layout
block content
  h1(class='bg-primary')=title
  
  .container
    form(action='/volunteer/register' method='post')
      label(for="first_name") First Name
      input(type="text", class="form-control", name="first_name")
      
      label(for="last_name") Last Name
      input(type="text", class="form-control", name="last_name")
      
      label(for="email") Email
      input(type="email", class="form-control", name="email")
      
      label(for="affiliation") Affiliation
      select(class="form-control", name="affiliation")
        option(value="a") McDonald's
        option(value="b") White Castle's
        option(value="c") Sam's Salad Bar (ugghhh)
      
      label(for="hear_about_us") How did you hear about us?
      select(class="form-control", name="hear_about_us")
        option(value="a") The grapevine
        option(value="b") A bird
        option(value="c") The chinese telephone
        
      .container.c-reset
        div.col-xs-4.c-reset
          p.c-checkbox-header.c-reset Languages Spoken
        div.col-xs-8.c-reset
          label(for="language_serbian" class="c-checkbox-input") Serbian
          input(type="checkbox", name="language_serbian")
          
          label(for="language_croatian" class="c-checkbox-input") Croatian
          input(type="checkbox", name="language_croatian")
          
          label(for="language_vulcan" class="c-checkbox-input") Vulcan
          input(type="checkbox", name="language_vulcan")

      .container.c-reset
        div.col-xs-4.c-reset
          p(class="c-checkbox-header") Volunteer Categories
        div.col-xs-8.c-reset
          label(for="category_esl" class="c-checkbox-input") English as a second language training (ESL)
          input(type="checkbox", name="category_esl")
          label(for="category_driving" class="c-checkbox-input") Driving
          input(type="checkbox", name="category_driving")
          label(for="category_sanding" class="c-checkbox-input") Daniel-son, sand the floor!
          input(type="checkbox", name="category_sanding")
      

  .container <br>
  .container <br>
  p Welcome to #{title}
