extends layout
block content
  h1(class='bg-primary')=title
  
  .container
    form(action='/volunteer/register' method='post')
      label(for="first_name") First Name
      input(type="text", class="form-control", name="first_name")
      
      label(for="last_name") Last Name
      input(type="text", class="form-control", name="last_name")
      
      label(for="email") Email
      input(type="email", class="form-control", name="email")
      
      label(for="affiliation") Affiliation
      select(class="form-control", name="affiliation")
        option(value="a") McDonald's
        option(value="b") White Castle's
        option(value="c") Sam's Salad Bar (ugghhh)
      
      label(for="hear_about_us") How did you hear about us?
      select(class="form-control", name="hear_about_us")
        option(value="a") The grapevine
        option(value="b") A bird
        option(value="c") The chinese telephone
        
      div
        div.inline
          strong Languages Spoken
        div.inline
          label.font-weight-normal(for="language_croatian") Croatian
          input(type="checkbox", id="language_croation" name="language_croatian") 
          
          label.font-weight-normal(for="language_serbian") Serbian
          input(type="checkbox", id="language_serbian" name="language_serbian") 
          
          label.font-weight-normal(for="language_vulan") Vulcan
          input(type="checkbox", id="language_vulcan" name="language_vulcan") 

      label(for="how_often") Approximately how often can you volunteer?
      select(class="form-control", name="near_about_us")
        option(value="a") monthly
        option(value="b") twice per month
        option(value="c") weekly

      label(for="time_of_day") What time of day is best for you?
      select(class="form-control", name="near_about_us")
        option(value="a") Morning
        option(value="b") Afternoon
        option(value="c") Evening
        option(value="d") Flexible
        option(value="e") 
      div  
        div.inline
          strong Do you have a reliable vehicle and are able to drive?
        div.inline  
          label.font-weight-normal(for="reliable_transportation") Yes
          input(type="radio", name="reliable_transportation", value="yes")
          label.font-weight-normal(for="reliable_transportation") No      
          input(type="radio", name="reliable_transportation", value="no")
      div
        div.inline
          strong I am interested in opportunities that my family/children can participate in
        div.inline 
          label.font-weight-normal(for="family_participation") Yes
          input(type="radio", name="family_participation", value="yes")
          label.font-weight-normal(for="family_paticipation") No      
          input(type="radio", name="family_participation", value="no")
        
  .container <br>
  .container <br>
  p Welcome to #{title}
