extends layout
block content
  h1(class='bg-primary  my-title')=title
  
  .container      
    h3="Hello, " + first_name + " " + last_name + ". Thanks for registering!" 
    // AFFILATION
    // HEAR ABOUT US
    // LANGUAGES SPOKEN  
    // HOW OFTEN    
    // TIME OF DAY
    // RELIABLE CAR & CAN DRIVE?
    // FAMILY PARTICIPATION
    // EMAIL LIST
  .container <br>
  .container <br>
