div
  div
    p Languages Spoken
  div
    label(for="language_serbian") Serbian
    input(type="checkbox", name="language_serbian")
    
    label(for="language_croatian") Croatian
    input(type="checkbox", name="language_croatian")
    
    label(for="language_vulcan") Vulcan
    input(type="checkbox", name="language_vulcan")

div
  div
    p Volunteer Categories
  div(class="checkbox")
    label(for="category_esl") English as a second language training (ESL)
    input(type="checkbox", name="category_esl")
    label(for="category_driving") Driving
    input(type="checkbox", name="category_driving")
    label(for="category_sanding") Daniel-son, sand the floor!
    input(type="checkbox", name="category_sanding")
