extends layout
block content  

  h1.title HELLO, PRINCESS!!  
  h3.title Dito ako sa Rogoznica!  Sa marina frapa

  img(class="z-princess" src="/images/owlAndFrogCaptain.jpg")
  img(class="z-princess" src="/images/owlAndFrogFish.jpg")
  img(class="z-princess" src="/images/owlAndFrogTrogir.jpg")
      
